<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registraation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h2>Login</h2>
    <form  action="/login" method="POST">
        {% csrf_token %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <input type="hidden" name="operation" value="login">
        Email: <input type="text" name="email">
        Password: <input type="password" name="password">
        <input type="submit" value="Login">
    </form>

    <h2>Registration</h2>
    <form  action="/login" method="POST">
        {% csrf_token %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <input type="hidden" name="operation" value="register">
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Email: <input type="text" name="email">
        Password: <input type="password" name="password">
        Confirm Password: <input type="password" name="confirm_password">
        <input type="submit" value="Register">
    </form>

</body>
</html>