<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Success! Welcome, {{request.session.first_name}}</h1>
        <a href="/logout">Logout</a>
    </header>
    <hr>
    <main>
        <section>
            <h1>Add a Favorite Book</h1>
            <form action="/add" method="POST">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                Title: <input type="text" name="title" required>
                Description: <input type="text" name="desc">
                <input type="submit" value="Add">
            </form>
        </section>

        <section>
            <h1>All Books</h1>
            {% for book in books %}
                <p><a href="/books/{{book.id}}">{{book.title}}</a></p>
                <p>Added by {{book.uploader.first_name}} {{book.uploader.last_name}}</p>
                {% if book in fav_books %}
                    <p>this is one of your favorite</p>
                {% else %}
                    <p><a href="/add_to_fav/{{book.id}}">Add to Favorites</a></p>
                {% endif %}
                <br>
            {% endfor %}
        </section>
    </main>
</body>
</html>